---

const { text , href } = Astro.props;

---

<a href={href} target="_blank">{text}</a>


<style>
    a {
        font-family: 'Rajdhani';
        padding: 5px 10px;
        background-color: #FF9900;
        width: fit-content;
        text-decoration: none;
        color: #000;
        border-radius: 3px;
        transition: background-color 0.2s;
    }

    a:hover {
        background-color: #ee8800;
    }
</style>