<footer class="layout-footer">
	<svg class="layout-footer__image" viewBox="0 0 136 57" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="25" cy="31.5" rx="25" ry="25.5" fill="#011936"/><circle cx="17.5" cy="17.5" r="17" fill="#68000A" stroke="#000"/><path d="m60.968 25-2.82-3.36h1.272l2.832 3.348V25h-1.284Zm-7.296 0v-8.628h7.2c.264 0 .504.068.72.204.224.128.4.3.528.516.128.216.192.456.192.72v2.532c0 .264-.064.504-.192.72a1.517 1.517 0 0 1-.528.528 1.386 1.386 0 0 1-.72.192h-6.228V25h-.972Zm1.44-4.2h5.76a.44.44 0 0 0 .324-.132.423.423 0 0 0 .144-.324v-2.532a.423.423 0 0 0-.144-.324.423.423 0 0 0-.324-.144h-5.76a.46.46 0 0 0-.336.144.44.44 0 0 0-.132.324v2.532a.44.44 0 0 0 .132.324.482.482 0 0 0 .336.132Zm9.854 4.2a1.45 1.45 0 0 1-.732-.192 1.664 1.664 0 0 1-.528-.528 1.45 1.45 0 0 1-.192-.732v-4.056c0-.264.064-.504.192-.72.136-.224.312-.4.528-.528.224-.136.468-.204.732-.204h4.176c.272 0 .516.068.732.204.224.128.4.304.528.528.136.216.204.456.204.72v2.52h-6.108v1.536c0 .128.044.24.132.336a.482.482 0 0 0 .336.132h5.64V25h-5.64Zm-.468-3.972h5.112v-1.536a.423.423 0 0 0-.144-.324.423.423 0 0 0-.324-.144h-4.176a.46.46 0 0 0-.336.144.44.44 0 0 0-.132.324v1.536ZM73.287 25a1.45 1.45 0 0 1-.732-.192 1.664 1.664 0 0 1-.528-.528 1.45 1.45 0 0 1-.192-.732v-2.52h6.096v-1.536a.423.423 0 0 0-.144-.324.423.423 0 0 0-.324-.144h-5.628v-.984h5.628c.272 0 .516.068.732.204.224.128.4.304.528.528.136.216.204.456.204.72V25h-5.64Zm0-.984h4.644v-2.004h-5.112v1.536c0 .128.044.24.132.336a.482.482 0 0 0 .336.132Zm8.215.984a1.45 1.45 0 0 1-.732-.192 1.664 1.664 0 0 1-.528-.528 1.45 1.45 0 0 1-.192-.732V15.76h.984v7.788c0 .128.044.24.132.336a.482.482 0 0 0 .336.132h1.176V25h-1.176Zm2.169 0v-6.96h.984V25h-.984Zm0-8.256v-.984h.984v.984h-.984ZM87.283 25c-.272 0-.52-.064-.744-.192a1.664 1.664 0 0 1-.528-.528 1.45 1.45 0 0 1-.192-.732v-4.056c0-.264.064-.504.192-.72.136-.224.312-.4.528-.528.224-.136.472-.204.744-.204h4.644v-2.28h.984V25h-5.628Zm0-.984h4.176a.44.44 0 0 0 .324-.132.46.46 0 0 0 .144-.336v-4.056a.423.423 0 0 0-.144-.324.423.423 0 0 0-.324-.144h-4.176a.46.46 0 0 0-.336.144.44.44 0 0 0-.132.324v4.056c0 .128.044.24.132.336a.482.482 0 0 0 .336.132Zm8.34.984a1.45 1.45 0 0 1-.732-.192 1.664 1.664 0 0 1-.528-.528 1.45 1.45 0 0 1-.192-.732v-2.52h6.096v-1.536a.423.423 0 0 0-.144-.324.423.423 0 0 0-.324-.144H94.17v-.984h5.628c.272 0 .516.068.732.204.224.128.4.304.528.528.136.216.204.456.204.72V25h-5.64Zm0-.984h4.644v-2.004h-5.112v1.536c0 .128.044.24.132.336a.482.482 0 0 0 .336.132Zm7.996.984c-.272 0-.52-.064-.744-.192a1.664 1.664 0 0 1-.528-.528 1.45 1.45 0 0 1-.192-.732v-4.056c0-.264.064-.504.192-.72.136-.224.312-.4.528-.528.224-.136.472-.204.744-.204h4.644v-2.28h.984V25h-5.628Zm0-.984h4.176a.44.44 0 0 0 .324-.132.46.46 0 0 0 .144-.336v-4.056a.423.423 0 0 0-.144-.324.423.423 0 0 0-.324-.144h-4.176a.46.46 0 0 0-.336.144.44.44 0 0 0-.132.324v4.056c0 .128.044.24.132.336a.482.482 0 0 0 .336.132ZM68.04 44 59.7 29.6h1.9l7.38 12.82 7.36-12.82h1.9L69.92 44h-1.88Zm12.059 0V32.4h1.64V44h-1.64Zm0-13.76V28.6h1.64v1.64h-1.64ZM84.259 44v-9.18c0-.44.106-.84.32-1.2.226-.373.52-.667.88-.88.373-.227.78-.34 1.22-.34h6.52v1.64h-6.52c-.214 0-.4.08-.56.24a.734.734 0 0 0-.22.54V44h-1.64Zm12.674 0c-.453 0-.867-.107-1.24-.32a2.586 2.586 0 0 1-.86-.88 2.417 2.417 0 0 1-.32-1.22V28.6h1.64v3.8h5.02v1.64h-5.02v7.54c0 .213.073.4.22.56.16.147.347.22.56.22h4.24V44h-4.24Zm8.203 0c-.44 0-.846-.107-1.22-.32a2.777 2.777 0 0 1-.88-.88 2.42 2.42 0 0 1-.32-1.22V32.4h1.64v9.18c0 .213.074.4.22.56.16.147.347.22.56.22h6.96c.214 0 .4-.073.56-.22.16-.16.24-.347.24-.56V32.4h1.64v9.18c0 .44-.113.847-.34 1.22a2.52 2.52 0 0 1-.88.88c-.36.213-.766.32-1.22.32h-6.96Zm13.887 0c-.44 0-.847-.107-1.22-.32a2.767 2.767 0 0 1-.88-.88 2.41 2.41 0 0 1-.32-1.22v-4.2h10.16v-2.56a.704.704 0 0 0-.24-.54.705.705 0 0 0-.54-.24h-9.38V32.4h9.38c.453 0 .86.113 1.22.34.373.213.666.507.88.88.226.36.34.76.34 1.2V44h-9.4Zm0-1.64h7.74v-3.34h-8.52v2.56c0 .213.073.4.22.56.16.147.346.22.56.22ZM132.714 44c-.44 0-.847-.107-1.22-.32a2.777 2.777 0 0 1-.88-.88 2.42 2.42 0 0 1-.32-1.22V28.6h1.64v12.98c0 .213.073.4.22.56.16.147.347.22.56.22h1.96V44h-1.96Z" fill="#fff"/></svg>
	<nav class="layout-footer__nav">
		<div class="layout-footer__nav-item">
			<a class="layout-footer__nav-item-title" href="#">Artículos</a>
			<a href="https://gafasderealidadvirtual.com/articulos/gafas-vr-buenas-baratas">Gafas VR buenas y baratas</a>
			<a href="https://gafasderealidadvirtual.com/articulos/oculus-quest-2">¿Por qué Meta dejó de fabricarlas?</a>
			<a href="https://gafasderealidadvirtual.com/articulos/gafas-vr-para-vrchat">Mejores gafas VR para VRChat</a>
			<a href="https://gafasderealidadvirtual.com/articulos/samsung-xr-y-project-moohan">Google y Samsung se ponen las pilas</a>
			<a href="https://gafasderealidadvirtual.com/articulos/ray-ban-meta">Las gafas de sol inteligentes</a>
			<a href="https://gafasderealidadvirtual.com/articulos/padel-vr">¡Puedes jugar a pádel desde tu casa!</a>
		</div>
		<div class="layout-footer__nav-item">
			<a class="layout-footer__nav-item-title" href="#">Páginas de interés</a>
			<a href="https://gafasderealidadvirtual.com/tipos-de-gafas-3d/">Tipos de gafas 3D</a>
			<a href="https://gafasderealidadvirtual.com/tipos-de-gafas-3d/gafas-de-realidad-virtual">Gafas de realidad virtual</a>
			<a href="https://gafasderealidadvirtual.com/tipos-de-gafas-3d/gafas-de-realidad-aumentada">Gafas de realidad aumentada</a>
			<a href="https://gafasderealidadvirtual.com/tipos-de-gafas-3d/gafas-de-realidad-mixta">Gafas de realidad mixta</a>
		</div>
		<div class="layout-footer__nav-item">
			<a href="https://gafasderealidadvirtual.com/marcas/oculus">Gafas de realidad virtual Oculus (Meta)</a>
			<a href="https://gafasderealidadvirtual.com/marcas/lenovo">Gafas de realidad virtual Lenovo</a>
			<a href="https://gafasderealidadvirtual.com/marcas/pico">Gafas de realidad virtual Pico</a>
			<a href="https://gafasderealidadvirtual.com/marcas/vive">Gafas de realidad virtual HTC Vive</a>
		</div>
	</nav>
</footer>

<style>
	.layout-footer {
		height: 250px;
		padding: 0 80px;
		background-color: #000;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 150px;

		border-radius: 50px 50px 0 0 ;
		margin-top: 100px;
	}

	.layout-footer__image {
		width: 150px;
	}

	.layout-footer__nav {
		width: 80%;
		max-width: 900px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		padding: 0;
		text-align: center;
		line-height: 1rem;
	}

	.layout-footer__nav a {
		color: #000;
		font-family: 'Rajdhani';
		padding: 0;
		color: #eee;
		text-decoration: none;
	}

	.layout-footer__nav a:hover {
		color: #fff;
		text-decoration: underline;
	}

	.layout-footer__nav-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		font-size: 1rem;
	}

	.layout-footer__nav-item-title {
		font-weight: bold;
		margin-bottom: 10px;
		text-decoration: none;
	}

	@media screen and (max-width: 1200px) {
		.layout-footer {
			flex-direction: column-reverse;
			justify-content: center;
			height: auto;
			padding: 30px 0;
			padding-top: 50px;
		}

		.layout-footer__nav {
			flex-direction: column;
			border-bottom: 1px solid #aaa;
			font-size: 1rem;
			padding-bottom: 30px;
			gap: 20px;
			width: 100vw;
		}

		.layout-footer__image {
			padding-top: 10px;
		}
	}		

</style>