---

import Products from '../../public/data/products-list.json';
import AmazonButton from './AmazonButton.astro';

export interface Props {
	id: number;
}

interface Product {
    id: number;
    name: string;
    link: string;
    image: {
        link: string;
        alt: string;
    };
}

const { id } = Astro.props as Props;

const product = Products.find(product => product.id === id);

---

<div class="product-element">
    <img height="250px" class="product-element__image" src={product?.imagen.link} alt={product?.imagen.alt}>
    <h3 class="product-element__title">{product?.nombre}</h3>
    <AmazonButton text="Comprar en Amazon" href={product?.link} class="product-element__button" />
</div>

<style>

    .product-element {
        width: calc(100% / 4 - 55px);
        max-height: 300px;
        padding: 20px;
        border: 1px solid #0002;
        margin-bottom: 20px;
        position: relative;

        display: flex;
        flex-direction: column;

        overflow: hidden;
    }

    .product-element__image {
        margin-top: -40px;
        height: 250px;
        object-fit: contain;
    }

    .product-element__title {
        font-family: 'Allerta Stencil';
        font-weight: 100;
        margin-top: 10px;
    }

    @media screen and (max-width: 1225px) {
        .product-element {
            width: calc(100% / 3 - 55px);
        }
    }

    @media screen and (max-width: 809px) {
        .product-element {
            width: calc(100% / 2 - 45px);
        }
    }

    @media screen and (max-width: 533px) {
        .product-element {
            width: calc(100%);
        }
        
    }

</style>