---

import Products from '../data/products-list.json';

const { id } = Astro.props;

const product = Products.find(product => product.id === id);

---

<table>
    <thead>
        <tr>
            <th class="--none"></th>
            <th>Ventajas</th>
            <th>Desventajas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="--img">
                <img src={product?.image.link} alt={product?.image.alt} />
            </td>
            <td class="list">
                <ul>
                    {product?.ventajas.map((ventaja) => (
                        <li>{ventaja}</li>
                    ))}
                </ul>
            </td>
            <td class="list">
                <ul>
                    {product?.desventajas.map((ventaja) => (
                        <li>{ventaja}</li>
                    ))}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<style>
    table {
        border-collapse: collapse;
        font-family: 'Rajdhani';
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    .--none {
        border-bottom: none;
    }

    .--img {
        border-top: none;
    }

    img {
        margin-top: -20px;
        height: 200px;
    }

    .list {
        text-align: left;
        vertical-align: top;
        width: 350px;
        max-width: 100%;
        padding: 0 30px 0 0;
    }

    .list li {
        margin-bottom: 5px;
    }
</style>