---

import Layout from "../../layouts/Layout.astro";
import ProductElement from "../../components/ProductElement.astro";
import DataSheet from "../../components/DataSheet.astro";
import ProductAdvantages from "../../components/ProductAdvantages.astro";
import AmazonButton from "../../components/AmazonButton.astro";
import Products from '../../../public/data/products-list.json';
import ArticlesList from "../../components/ArticlesList.astro";
import TableOfContents from "../../components/TableOfContents.astro";

---

<Layout 
    title="Gafas Oculus 3D | Las mejores gafas de realidad virtual del mercado"
    description="Explora las gafas Oculus 3D y descubre las opciones más avanzadas en lentes VR. Compara los modelos de gafas Oculus y encuentra la mejor opción para tu experiencia inmersiva."
>

<main class="main">
    <header class="main-header">
        <h1 class="main-header__title">Todo sobre las gafas Oculus 3D: Análisis, comparativa y guía de compra</h1>
        <p class="main-header__text">La tecnología de <strong>realidad virtual</strong> ha dado grandes pasos con las <strong>gafas Oculus</strong>. Desde las primeras versiones como las <strong>Oculus Rift</strong> hasta las últimas innovaciones como las <strong>Oculus Quest 3</strong>, las <strong>gafas Oculus 3D</strong> han revolucionado la forma en que experimentamos el entretenimiento digital. En este artículo, exploraremos los mejores modelos de <strong>gafas Oculus</strong>, sus características y ventajas para ayudarte a elegir el par perfecto.</p>
        <TableOfContents />
    </header>

    <section class="main-section">
        <h2 class="main-section__title">Modelos destacados de gafas Oculus</h2>

        <h3 class="main-section__subtitle">OCULUS QUEST 3 (META QUEST 3) - GAFAS OCULUS 3D DE ALTA GAMA</h3>
        <div class="main-section__products">
            <ProductElement id={11} />
        </div>  
        <p class="main-section__text">Las <strong>Oculus Quest 3</strong>, son completamente autónomas, lo que las hace ideales para los entusiastas de la <strong>realidad virtual</strong>. Con un potente rendimiento gráfico y una interfaz intuitiva, estas <strong>gafas Oculus 3D</strong> ofrecen una experiencia inmersiva sin necesidad de cables ni PC.</p>
        <DataSheet id={11} />
        <ProductAdvantages id={11} />
        <AmazonButton text="Ver en Amazon" href={Products[10].link} />

        <h3 class="main-section__subtitle --margin-top">OCULUS QUEST 3S (META QUEST 3S) - GAFAS OCULUS ECONÓMICAS</h3>
        <div class="main-section__products">    
            <ProductElement id={1} />
        </div>
        <p class="main-section__text">Las <strong>Oculus Quest 3S</strong> ofrecen una opción más accesible dentro de las <strong>gafas Oculus</strong>, perfectas para quienes buscan iniciarse en el mundo de la <strong>realidad virtual</strong> sin comprometer demasiado su presupuesto. A pesar de ser una versión más económica, estas ofrecen una experiencia gráfica impresionante.</p>
        <DataSheet id={1} />
        <ProductAdvantages id={1} />
        <AmazonButton text="Ver en Amazon" href={Products[0].link} />
    </section>

    <section class="main-section">
        <h2 class="main-section__title">¿Qué debes considerar al comprar tus gafas Oculus?</h2>

        <h3 class="main-section__subtitle">TIPO DE USO</h3>
        <p class="main-section__text">Si prefieres unas gafas más portátiles, las <strong>Oculus Quest 3</strong> son la mejor opción. Sin embargo, si lo que buscas es un rendimiento más robusto y una calidad de imagen superior, las <strong>Oculus Quest 3S</strong> ofrecen una experiencia aún más avanzada.</p>

        <h3 class="main-section__subtitle">COMPATIBILIDAD</h3>
        <p class="main-section__text">Ambos modelos ofrecen una gran flexibilidad: puedes usarlas de manera independiente o conectadas a un PC para experiencias más intensas en <strong>realidad virtual</strong>.</p>

        <h3 class="main-section__subtitle">ACCESORIOS</h3>
        <p class="main-section__text">Los accesorios como los adaptadores para gafas graduadas o baterías externas son compatibles con las <strong>gafas Oculus</strong> y mejoran la comodidad, permitiendo sesiones largas sin molestias.</p>

        <h3 class="main-section__subtitle">DURABILIDAD</h3>
        <p class="main-section__text">Las <strong>gafas Oculus</strong> actuales están diseñadas para durar, aunque siempre debes estar atento a las futuras actualizaciones y mejoras que Meta podría ofrecer en nuevos modelos.</p>
    </section>

    <section class="main-section">
        <h2 class="main-section__title">¿Son las gafas Oculus la mejor opción para la realidad virtual?</h2>
        <p class="main-section__text">Las <strong>gafas Oculus</strong> siguen siendo una de las mejores opciones del mercado. Ya sea que elijas las <strong>Oculus Quest 3</strong> por su equilibrio entre calidad y precio, o las <strong>Oculus Quest 3S</strong> por su accesibilidad, estas gafas te ofrecerán una experiencia virtual incomparable.</p>
    </section>

    <section class="main-section">
        <h2 class="main-section__title">Explora nuestro catálogo de gafas de realidad virtual</h2>
        <div class="main-section__products">
            {Products.map((product) => (
                <ProductElement id={product.id} />
            ))}
        </div>
    </section>

    <section class="main-section">
        <h2 class="main-section__title">Nuestro últimos artículos</h2>
        <ArticlesList />
    </section>
</main>

</Layout>

<style>
    .main-header__title {
        font-weight: 400;
    }

    .--margin-top {
        margin-top: 30px;
    }
</style>
